html
    head
        style
            include style.css
    body
        div
            | HELLO
            br
            | Some text
            p This is p
        div
            block content
        div.footer
            | Footer
            br
            a(href=frontendURL) Link
